<div class="wrapper">
  <div *ngIf="!isLogged" class="example-container">
    <mat-form-field appearance="fill" required>
      <mat-label>Login</mat-label>
      <input matInput [(ngModel)]="user.login">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" required>
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="user.password" type="password">
    </mat-form-field>
    <br>
    <button mat-flat-button color="primary" (click)='onLogin()'>Login</button>
  </div>

  <div class="content" *ngIf="isLogged">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
  </div>
</div>
